header, footer{
    padding: 0.5em;
    color: white;
   background-color: white;
	clear: left;
}

header {
    padding: 10;
    margin: 10;
    font-family:"Droid Sans",Helvetica,sans-serif;
    font-size:20px;
    color:#ff8080
}

footer{font-family:"Droid Sans",Helvetica,sans-serif;}

container{
    width: 100%;
    margin: 0px;
    border: 1px solid gray;
    line-height: 150%;
    
}
 .center {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    padding: 10px;
    background-color: white;
    
}

#login-form form{
	color: #1a8cff;
	border: 1px solid red;
	padding:10px;
	margin: 70px;
	}

#login-form{
     margin: 10px;
    font-family:"Droid Sans",Helvetica,sans-serif;
     }addProduct

/* for drawing line*/
.headline {
font-family: Calibri, "Helvetica", san-serif;
line-height: 1.5em;
color: black;
font-size: 20px;

}
header:after
{
    content:' ';
    display:block;
    border:2px solid black;
    width: 970px
}
/* end line css*/


/*for admin page menu*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
}

.menu li a {
    display: block;
    color: #0040ff;
    padding: 8px 16px;
    text-decoration: none;
}

.menu li {
    /*text-align: center;*/
    border-bottom: 1px solid white;
}

.menu li:last-child {
    border-bottom: none;
}

.menu li a.active {
    /*background-color: #4CAF50;*/
    background-color: #cccccc;
    color: black;
}
/*end admin page menu*/

/* two major div*/
.menu, .listProducts{
	border:1px solid white;
	margin-right:10px;
    float:left
}

.listProducts{
	position:relative;
	width: 700px;
	height: 700px
}

    div.foot{
     /*  position: relative;
        bottom: 2px;
         left: 2px;
        border: 3px solid gray; 
        width: 1009px;
    height: 22px;  */
    position:absolute;
     padding: 2px 16px;
    background-color: white;
    color: black;
    bottom: 2px
       
    }



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

div.table_Head{
   position: relative;
	 top: 50px;
         left: 2px;
	 width: 99%;
	border: 1px solid black; 
	     height: 35px;
	 background-color:white;
	
   } 
   
  /* table */

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }
tr:nth-child(even){background-color: #EEE}

div.searchResult{
	position: relative;
	 top: 55px;
         left: 2px;
        overflow:auto;
	 
	 width: 100%;
	border: 1px solid black; 
	     height: 540px;
	 background-color:white;
}

/*product page css*/
#site {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
}
#masthead {
	margin-top: 3em;
	padding: 2em 0 0.5em 0;
	border-bottom: 1px solid #ddd;
}

#masthead h1 {
	margin: 0;
	font-size: 3.5em;
	overflow: hidden;
	padding-left: 85px;
	min-height: 82px;
	line-height: 2.3;
	background: url(../images/logo.png) no-repeat 0 50%;
	color: #900;
	
}
.tagline {
	float: right;
	color: #666;
	font-size: 14px;
	padding-top: 3.5em;
}

#products ul {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#products li {
	float: left;
	width: 31%;
	margin: 0 1%;
	display: block;
}

.product-image {
	margin: 0 auto 1em auto;
	background: #000;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	
}

.product-description {
	padding: 1em;
	background: #000;
	color: #fff;
	border-radius: 5px;
}

.product-name {
	text-align: center;
	color: #fc0;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px dotted #666;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.product-price {
	width: 4em;
	height: 4em;
	font-size: 1.2em;
	text-align: center;
	margin: 1em auto;
	background: #fff;
	color: #800;
	line-height: 4;
	border-radius: 50%;
}

form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}

.btn, a.btn {
	display: inline-block;
	background: #cc1400;
	color: #fff;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 1em;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #a00;
}


#site-info {
	height: 3em;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: #cc8500;
	position: relative;
	color: #fff;
	left: 0;
	bottom: 0;
}
/*end product page css*/

/*cart page css*/
#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}


#shopping-cart {
	margin: 1.5em 0;
}

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

/*.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}*/

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

.shopping-cart td.pdelete {
	text-align: center;
}
/*not used yet*/
.pdelete a,
.pdelete a:hover {
	color: #c00;
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}
/*end cart page css*/

.onSale-tag { 
  width: 30%; 
  position: relative;
  right: 5px;
  bottom: 30px;
  margin: 0 auto;  
  /*background: #D4AF37; */
  border-radius: 25px;
 float: right;
  text-align: center;
    opacity:1;
     z-index:1;
}
